
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 150px 1fr;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(69	144	206);
  display: flex;
  gap: 50px;
  flex-direction: column;
  font-weight: bold;
  padding: 20px;
  font-size: 16px;
  color: white;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
}

.sidebar ul {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar a {
  display: flex;
  gap: 12px;
  align-items: center;
}