
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: min-content 1fr;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(69	144	206);
  display: flex;
  gap: 50px;
  flex-direction: column;
  font-weight: bold;
  padding: 20px;
  font-size: 16px;
  color: white;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
}

.sidebar ul {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar a {
  display: flex;
  gap: 12px;
  align-items: center;
}

header {
  padding: 20px 40px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

#notifications {
  background: no-repeat url(./icons/bell.svg) ;
  height: 25px;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
}

search {
  display: flex;
  gap: 20px;
  align-items: center;
}

search input {
  width: 35vw;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: rgb(226, 231, 238);
}

header img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.top img {
  height: 50px;
}
.bottom img {
  height: 70px;
}

header .bottom {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom .actions {
  margin-left: auto;
  display: flex;
  gap: 40px;
}