
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: min-content 1fr;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(69	144	206);
  display: flex;
  gap: 50px;
  flex-direction: column;
  font-weight: bold;
  padding: 20px;
  color: white;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
}

.sidebar ul {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar a {
  display: flex;
  gap: 12px;
  align-items: center;
}

header {
  padding: 20px 40px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: bold;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

#notifications {
  background: no-repeat url(./icons/bell.svg) ;
  height: 25px;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
}

search {
  display: flex;
  gap: 20px;
  align-items: center;
}

search input {
  width: 35vw;
  height: 36px;
  border: none;
  border-radius: 18px;
  background-color: rgb(226, 231, 238);
}

header img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.top img {
  height: 50px;
}
.bottom img {
  height: 70px;
}

header .bottom {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom .username{
  font-size: 24px;
}

.bottom .actions {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.bottom button {
  border: none;
  background-color: rgb(69	144	206);
  border: none;
  border-radius: 100vw;
  padding: 12px 30px;
  min-width: 80px;
  color: white;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

main {
  background-color: rgb(226	231	238	);
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.news {
  grid-column: 2/3;
}
.news .content {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}

.news .content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trends {
  grid-column: 2/3;
}
.trends>.content>.user {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 20px;
}

.trends>.content>.user>img {
  grid-column: span 1;
  grid-row: span 2;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}